<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowbite Flask</title>
    <link rel="stylesheet"
        href="{{ url_for('static',filename='dist/css/output.css') }}">
</head>

<body>
    </br></br></br></br></br>
    <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">Index</h1>
            </div></br></br></br>
            <h1 class="bottom">
                Hi {{ session.username }}!!</br></br> Welcome to the index page...
            </h1></br></br></br>
            <a href="{{ url_for('logout') }}" class="btn">Logout</a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" crossorigin="anonymous"></script>
</body>