body{
    user-select: none;
}
h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
div {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    padding-top: 1%;
}
img,#imagea{
    width: auto;
    height: auto;
    max-width: 40vw;
    max-height: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}
#titlex{padding-top: 1%;}
nav ul{height:240px;margin-left: auto;margin-right: auto; text-align: left;width:50vw;}
nav ul{overflow:hidden; overflow-y:scroll;}
#songlist p{
    max-width: 60vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}
.hide{
    display: none;
}
#songlist p:hover .hide{
    display: block;
    max-width: 30vw;
    max-height: 30vh;
    top: auto;
    left: 5vw;
    bottom: 7vh;
    position: absolute;
    z-index: 1;
    filter: brightness(0.7);
}
#songlist p:hover{
   font-weight: bold;
   overflow: auto;
  white-space: break-spaces;
}
.main{
display:flex;
flex-direction:row;
justify-content:space-around;
}
